<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>CrudApps</name>

<description>
Simple mobile application with JSON for CRUD operation.
</description>

<author href="https://example.com" email="masdju@yahoo.com">
Masdju
</author>

</widget>
